<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <title>Highscores</title>
</head>

<body>
    <header class="server-header">
        <span class="material-symbols-outlined">lightbulb</span>               
        <h1>Wordle</h1>
        <nav class="server-nav">
            <a href="/">PLAY</a>
            <a href="/about">ABOUT</a>
            <a href="/highscores">HIGHEST SCORES</a>            
        </nav>
    </header>
    <h2>Highscore List</h2>
    <main>
        <ol>
            <% highscores.forEach(score=> { %>
                <li>
                    <span class="score-name"><%= score.name %></span> - 
                    Time: <span class="score-label"> <%= score.time %> sec,</span> 
                    Number of Guesses: <span class="score-label"><%= score.guesses %></span>, 
                    Number of Letters: <span class="score-label"><%= score.wordLength %></span>, 
                    Repeat letters: <span class="score-label"><%= score.repeate %></span>
                </li>
                <% }) %>
        </ol>
    </main>
    <footer class="server-footer">
        &copy; <%= new Date().getFullYear() %> Emily's Wordle App
    </footer>
</body>

</html>